<html>
    <head>
        <title>Registrar</title>
    </head>
    <body>
        <h1>Add and Find Shoe Brands at Shoe Stores</h1><br>

        <p><a href="/stores">Stores</a>. Click here to see all of the stores and to add a store.</p><br>
        <p><a href="/brands">Brands</a>. Click here to see all of the tasks and to add a brand.</p>
    </body>
</html>
